html,
body,
#viewDiv {
  padding: 0;
  margin: 0;
  height: 100%;
}

body {
  --calcite-color-foreground-3: #88caf9;
  display: flex;
}

calcite-button {
  height: 2rem
}

calcite-loader {
  align-self: center;
  justify-self: center;
}

#program-filter {
  height: auto;
  width: 100%;
}

.program-item {
  width: 100%;
  padding: 12px;
  text-align: center;
  vertical-align: baseline;
  cursor: pointer;
  height: 40px;
}

.program-item:focus {
  background-color: dimgrey;
}

.program-item:hover {
  background-color: dimgrey;
}